//Default reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

$base: rgb(15, 15, 199);
$highlight: rgb(235, 157, 12);
$soft: rgb(13, 139, 180);
$light: rgb(64, 177, 214);

//Helps words to stay with the screen for better readability
$md: 48rem;
$lg: 64rem;

html,
#root,
body {
  height: 100%;
}
//sets footer to the bottom
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  background-color: $base;
}

main {
  background-color: $base;
  flex: 1;
}

//? -----------------

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: $highlight;
  &__logo {
    font-weight: 600;
    font-size: 1.25rem;
  }
  &__links {
    display: none;
    gap: 1.5rem;
    a {
      color: $base;
      text-decoration: none;
      transition: all 0.2s ease;
      &:hover {
        color: $base;
        text-decoration: underline;
      }
    }
  }
  &__cta{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: $light;
    background-color: rgb(104, 71, 182);
    cursor: pointer;
  }
}
@media (width > $md) {
    .nav__links{
        display: flex;
    }
}

.hero{
    background: linear-gradient(135deg, $soft 0%, $base 100);
    text-align: center;
    padding: 6rem 1rem;
    &__title{
        font-size: clamp(2rem, 5vw, 3rem);
        margin-bottom: 1rem;
        
    }
}

.footer {
  font-size: medium;
  background-color: $highlight;
  text-align: center;
}
//every component should have a block class name
