//Default reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

$base: rgb(17, 17, 156);
$highligh: rgb(235, 157, 12);
$soft: rgb(13, 139, 180);
$light: rgb(64, 177, 214);


//Helps words to stay with the screen for better readability
$md: 48rem;
$lg: 64rem;

html,
body {
    height: 100%;
}
//sets footer to the bottom
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: lightblue;
}

main {
    flex: 1;
}
